/* // <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name */
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
}



/* shared style */
.text-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
/* shared button */
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}
.header{
background-image: url('./portfolio-resources/images/developer.png'), url('./portfolio-resources/images/header_bg.png');
background-repeat: no-repeat;
background-position: left top, right bottom;
}
/* Nav Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px 50px 200px;


}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
}


/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 38px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    color: #474747;
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 25px;
}

.banner-profile-pic{
    width: 584px;
}




/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 170px;
}
.about{
    border-radius: 10px;
    padding: 110px 130px;
    text-align: center;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}
.section-description{
    margin-top: 20px;
}

.about-items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: left;
}

.item-title{
    font-size:18px;
    color: #757575;
}

.item-description{
    font-weight: bold;
    font-size: 18px;
    color:#474747;
}

/* skill section */

.skill-title{
    padding: 50px 100px 20px 50px;
}
.skill-description{
    padding: 0 100px 50px 100px;
}

.card-items{
    display: flex;
    justify-content: space-around;
}
.card-item{
    width: 200px;
    height: 280px;
    background-color: white;
    padding: 10px;
    /* border: 1px solid tomato; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.icon-image{
    width: 44px;
    height: 44px;
    /* background-color: white; */

}
.react-icon{
    width: 50px;
    height: 45px;

}

.node-icon{
    width: 40px;
    height: 44px;
}


.card-title{
    margin: 5px 0 10px;
}

/* style of resume section */
.resume-title{
    padding: 100px 0 50px 0;
    font-weight: bold;
    font-size:45px;
}

.resume-items{
    display: flex;
    justify-content: space-between;
}

.resume-item{
    width: 450px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom: 1px solid #757575;
}
.education-title{
    margin: 15px 0;
}
.resume-item p{
    margin-top: 10px;
}

.cv-btn{
    padding: 15px 0;
}

.remove-bottom{
    border-bottom: none;
}


/* footer style here */
.footer{
    background-color: #FFF8F3;
}
.footer-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 170px;
    display: flex;
    justify-content: space-between;
}

.media-icon{
    display: flex;
    margin-top: 10px;
}
.media-icon img{
    /* margin-left: 10px; */
    /* background-color: wheat; */
}

.icon-margin{
    margin-left: 10px;
}
.media-icon img .no-margin{
    margin-left: none;
}
.media-icon img{
    cursor: pointer;
}
.form-container{

}

.social-card{
    width: 450px;
    height: 300px;
    /* background-color: aqua; */
    padding: 20px;
}
.input-style{
    width: 100%;
    height: 30px;
    background-color: white;
    border: none;
    margin: 10px 0;
    padding: 5px;
}

textarea{
    width: 100%;
    padding: 5px;
    height: 100px;
    border: none;
    margin-bottom: 5px;
    margin-top: 10px;
}